kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ $.Chart.Name }}
spec:
  replicas: {{ .Values.mosquitto.replicaCount }}
  selector:
    matchLabels:
      app: {{ $.Chart.Name }}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  revisionHistoryLimit: {{ .Values.REVISION_HISTORY_LIMIT }}
  template:
    metadata:
      labels:
        app: {{ $.Chart.Name }}
        version: "{{ $.Chart.Name }}-{{ .Values.mosquitto.image.tag | default "latest" }}"
    spec:
      {{- with .Values.mosquitto.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ $.Chart.Name }}
          image: "{{ .Values.mosquitto.image.repository }}:{{ .Values.mosquitto.image.tag | default "latest" }}"
          imagePullPolicy: {{ .Values.mosquitto.image.pullPolicy }}
          ports:
            - name: mosquitto
              containerPort: 1883
              protocol: TCP
          resources:
            {{- toYaml .Values.mosquitto.resources | nindent 12 }}
          volumeMounts:
            - name: {{ $.Chart.Name }}-configmap
              mountPath: /mosquitto/config/mosquitto.conf
              subPath: mosquitto.conf
          readinessProbe:
            tcpSocket:
              port: 1883
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 1883
            initialDelaySeconds: 15
            periodSeconds: 20
            timeoutSeconds: 5
      volumes:
        - name: "{{ $.Chart.Name }}-configmap"
          configMap:
            name: "{{ $.Chart.Name }}-configmap"
      restartPolicy: Always
