mosquitto:
  image:
    repository: eclipse-mosquitto
    tag: '2'
    pullPolicy: IfNotPresent

  replicaCount: 1

  resources:
    limits:
      cpu: 500m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi

