mosquitto:
  image:
    repository: eclipse-mosquitto
    tag: '2'
    pullPolicy: IfNotPresent

  replicaCount: 1

  resources:
    limits:
      cpu: 150m
      memory: 512Mi
    requests:
      cpu: 5m
      memory: 128Mi

