apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: {{ $.Chart.Name }}-tcp
spec:
  entryPoints:
    - mqtt
  routes:
    - match: HostSNI(`*`)
      services:
        - name: {{ $.Chart.Name }}-svc
          port: 8884
