kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ $.Chart.Name }}
spec:
  replicas: {{ .Values.chirpstack.replicaCount }}
  selector:
    matchLabels:
      app: {{ $.Chart.Name }}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  revisionHistoryLimit: {{ .Values.chirpstack.REVISION_HISTORY_LIMIT }}
  template:
    metadata:
      labels:
        app: {{ $.Chart.Name }}
        version: "{{ $.Chart.Name }}-{{ .Values.chirpstack.image.tag | default "latest" }}"
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      containers:
        - name: {{ $.Chart.Name }}
          args: ["-c", "/etc/chirpstack"]
          image: "{{ .Values.chirpstack.image.registry }}/{{ .Values.chirpstack.image.repository }}:{{ .Values.chirpstack.image.tag | default "latest" }}"
          imagePullPolicy: {{ .Values.chirpstack.image.pullPolicy }}
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: cloudnative-pg-cluster-chirpstack
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cloudnative-pg-cluster-chirpstack
                  key: password
          {{- with .Values.chirpstack.extraEnv }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: grpc
              containerPort: 8000
              protocol: TCP
            - name: http
              containerPort: 8080
              protocol: TCP
          resources:
            limits:
              cpu: 150m
              memory: 512Mi
            requests:
              cpu: 5m
              memory: 128Mi
          volumeMounts:
            - name: persistent-storage
              mountPath: /etc/chirpstack/adr-modules
            - name: {{ $.Chart.Name }}-configmap
              mountPath: /etc/chirpstack/chirpstack.toml
              subPath: chirpstack.toml
            - name: {{ $.Chart.Name }}-configmap
              mountPath: /etc/chirpstack/region_eu868.toml
              subPath: region_eu868.toml
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20
            timeoutSeconds: 5
      volumes:
        - name: "{{ $.Chart.Name }}-configmap"
          configMap:
            name: "{{ $.Chart.Name }}-configmap"
        - name: persistent-storage
          persistentVolumeClaim:
            claimName: persist-claim-chirpstack
      restartPolicy: Always
