repoUrl: https://github.com/itk-dev/OS2Iot-helm.git

apps:
  # Basic setup
  - name: argo-cd-resources
    project: argo-cd
    namespace: argo-cd
    automated: true

  - name: argo-cd
    project: argo-cd
    namespace: argo-cd
    automated: true

  - name: traefik
    project: traefik
    namespace: traefik
    automated: true

  - name: cert-manager
    project: cert-manager
    namespace: cert-manager
    automated: true

  - name: sealed-secrets
    project: sealed-secrets
    namespace: sealed-secrets
    automated: true

  ## Storage
  - name: cloudnative-pg-operator
    project: cloudnative-pg-operator
    namespace: cloudnative-pg-operator
    automated: true
    syncOptions:
      - ServerSideApply=true

  - name: redis-operator
    project: redis-operator
    namespace: redis-operator
    automated: true
    syncOptions:
      - ServerSideApply=true

  ## Databases
  - name: postgres
    project: postgres
    namespace: postgres
    automated: true

  ## Applications
  - name: mosquitto
    project: mosquitto
    namespace: mosquitto
    automated: true

  - name: mosquitto-broker
    project: mosquitto-broker
    namespace: mosquitto-broker
    automated: true

  - name: chirpstack
    project: chirpstack
    namespace: chirpstack
    automated: true

  - name: chirpstack-gateway
    project: chirpstack-gateway
    namespace: chirpstack-gateway
    automated: true

  - name: zookeeper
    project: zookeeper
    namespace: zookeeper
    automated: true

  - name: kafka
    project: kafka
    namespace: kafka
    automated: true

  - name: os2iot-backend
    project: os2iot-backend
    namespace: os2iot-backend
    automated: true

  - name: os2iot-frontend
    project: os2iot-frontend
    namespace: os2iot-frontend
    automated: true
